In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
!pip3 install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [4]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Tutorial1_CN7030") \
                            .master("local[*]")\
                            .config("spark.some.config.option", "some-value") \
                            .getOrCreate()

In [5]:
# PySpark DataFrame with Explicit Schema
df = spark.createDataFrame([
    (1, 87.0, 'Mike', 'math', 'passed'),
    (2, 60.5, 'Mike', 'computing', 'failed'),
    (3, 20.8, 'Mina', 'networking', 'passed'),
    (4, 41.0, 'Emmy', 'math', 'failed'),
    (5, 39.0, 'Alex', 'computing', 'failed'),
    (6, 55.8, 'Alex', 'AI', 'passed'),
    (7, 74.0, 'Emmy', 'AI', 'passed'),
    ], schema = 'ID int, Mark double, Name string, Lesson string, Status string')

# show table
df.show()

# show schema
df.printSchema()

+---+----+----+----------+------+
| ID|Mark|Name|    Lesson|Status|
+---+----+----+----------+------+
|  1|87.0|Mike|      math|passed|
|  2|60.5|Mike| computing|failed|
|  3|20.8|Mina|networking|passed|
|  4|41.0|Emmy|      math|failed|
|  5|39.0|Alex| computing|failed|
|  6|55.8|Alex|        AI|passed|
|  7|74.0|Emmy|        AI|passed|
+---+----+----+----------+------+

root
 |-- ID: integer (nullable = true)
 |-- Mark: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Lesson: string (nullable = true)
 |-- Status: string (nullable = true)

In [6]:
import numpy as np
import pandas as pd
df_pandas = pd.DataFrame(np.random.randint(0,200,size=(100000, 5)), columns=list('ABCDE'))

In [29]:
df2 = spark.createDataFrame(df_pandas)

# show table
df2.show()

# show schema
df2.printSchema()

+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
|199| 66| 98| 18|108|
| 59|  3|147| 30| 38|
|160| 25|141| 18| 88|
|106|147|164|133|122|
|166|184| 96|136| 48|
| 87|105| 51| 82|117|
| 24|181|185|100|198|
|  7|119| 96|100|195|
| 16| 22|168|136|166|
|162|174|180|147| 18|
|  0|117| 41|193|121|
|112|161|179|109|194|
|122| 56|142|123|109|
| 27|152|146|  6| 29|
|145|147| 88|156|107|
| 65| 60|104| 77|172|
| 59|183| 53|157|128|
|196|161| 10| 28|114|
|175| 73| 86|157|193|
|170| 46|157| 98|198|
+---+---+---+---+---+
only showing top 20 rows

root
 |-- A: long (nullable = true)
 |-- B: long (nullable = true)
 |-- C: long (nullable = true)
 |-- D: long (nullable = true)
 |-- E: long (nullable = true)

In [8]:
print(df2.count())

100000

In [15]:
print("rows in df",df.count())
df.show()

print("rows in df1",df1.count())

df1.show()
df3 = df1.union(df)
print("rows in df3")
print(df3.count())
df3.show()
print("showing the data frame from the bottom")
df3.tail(7)

rows in df 7
+---+----+----+----------+------+
| ID|Mark|Name|    Lesson|Status|
+---+----+----+----------+------+
|  1|87.0|Mike|      math|passed|
|  2|60.5|Mike| computing|failed|
|  3|20.8|Mina|networking|passed|
|  4|41.0|Emmy|      math|failed|
|  5|39.0|Alex| computing|failed|
|  6|55.8|Alex|        AI|passed|
|  7|74.0|Emmy|        AI|passed|
+---+----+----+----------+------+

rows in df1 100000
+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
|199| 66| 98| 18|108|
| 59|  3|147| 30| 38|
|160| 25|141| 18| 88|
|106|147|164|133|122|
|166|184| 96|136| 48|
| 87|105| 51| 82|117|
| 24|181|185|100|198|
|  7|119| 96|100|195|
| 16| 22|168|136|166|
|162|174|180|147| 18|
|  0|117| 41|193|121|
|112|161|179|109|194|
|122| 56|142|123|109|
| 27|152|146|  6| 29|
|145|147| 88|156|107|
| 65| 60|104| 77|172|
| 59|183| 53|157|128|
|196|161| 10| 28|114|
|175| 73| 86|157|193|
|170| 46|157| 98|198|
+---+---+---+---+---+
only showing top 20 rows

rows in df3
100007
+---+-----+---+---+---+
|  A|    B|  C|  D|  E|
+---+-----+---+---+---+
|199| 66.0| 98| 18|108|
| 59|  3.0|147| 30| 38|
|160| 25.0|141| 18| 88|
|106|147.0|164|133|122|
|166|184.0| 96|136| 48|
| 87|105.0| 51| 82|117|
| 24|181.0|185|100|198|
|  7|119.0| 96|100|195|
| 16| 22.0|168|136|166|
|162|174.0|180|147| 18|
|  0|117.0| 41|193|121|
|112|161.0|179|109|194|
|122| 56.0|142|123|109|
| 27|152.0|146|  6| 29|
|145|147.0| 88|156|107|
| 65| 60.0|104| 77|172|
| 59|183.0| 53|157|128|
|196|161.0| 10| 28|114|
|175| 73.0| 86|157|193|
|170| 46.0|157| 98|198|
+---+-----+---+---+---+
only showing top 20 rows

showing the data frame from the bottom

[Row(A=1, B=87.0, C='Mike', D='math', E='passed'),
 Row(A=2, B=60.5, C='Mike', D='computing', E='failed'),
 Row(A=3, B=20.8, C='Mina', D='networking', E='passed'),
 Row(A=4, B=41.0, C='Emmy', D='math', E='failed'),
 Row(A=5, B=39.0, C='Alex', D='computing', E='failed'),
 Row(A=6, B=55.8, C='Alex', D='AI', E='passed'),
 Row(A=7, B=74.0, C='Emmy', D='AI', E='passed')]

+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
|199| 66| 98| 18|108|
| 59|  3|147| 30| 38|
|160| 25|141| 18| 88|
|106|147|164|133|122|
|166|184| 96|136| 48|
| 87|105| 51| 82|117|
| 24|181|185|100|198|
|  7|119| 96|100|195|
| 16| 22|168|136|166|
|162|174|180|147| 18|
|  0|117| 41|193|121|
|112|161|179|109|194|
|122| 56|142|123|109|
| 27|152|146|  6| 29|
|145|147| 88|156|107|
| 65| 60|104| 77|172|
| 59|183| 53|157|128|
|196|161| 10| 28|114|
|175| 73| 86|157|193|
|170| 46|157| 98|198|
+---+---+---+---+---+
only showing top 20 rows

root
 |-- A: long (nullable = true)
 |-- B: long (nullable = true)
 |-- C: long (nullable = true)
 |-- D: long (nullable = true)
 |-- E: long (nullable = true)

In [30]:
Totpartition=df.rdd.getNumPartitions()
print(Totpartition)
newpartitiondf = df.repartition(4)

print(newpartitiondf.rdd.getNumPartitions())

# Repatition by column name into 4 partitions, check the df1 it has a column name city we want it to be in four paritition
df4 = df1.repartition(4, "city")
print(df4.rdd.getNumPartitions())
# Repatition by multiple columns
#df5 = df4.repartition("ColumnName1","ColumnName2")

2
4

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `city` cannot be resolved. Did you mean one of the following? [`A`, `B`, `C`, `D`, `E`].;
'RepartitionByExpression ['city], 4
+- LogicalRDD [A#417L, B#418L, C#419L, D#420L, E#421L], false

In [19]:
df4 = spark.createDataFrame(df_pandas)

In [21]:
df4 = spark.createDataFrame(df_pandas)

# show table
df4.show()

# show schema
df4.printSchema()

+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
|199| 66| 98| 18|108|
| 59|  3|147| 30| 38|
|160| 25|141| 18| 88|
|106|147|164|133|122|
|166|184| 96|136| 48|
| 87|105| 51| 82|117|
| 24|181|185|100|198|
|  7|119| 96|100|195|
| 16| 22|168|136|166|
|162|174|180|147| 18|
|  0|117| 41|193|121|
|112|161|179|109|194|
|122| 56|142|123|109|
| 27|152|146|  6| 29|
|145|147| 88|156|107|
| 65| 60|104| 77|172|
| 59|183| 53|157|128|
|196|161| 10| 28|114|
|175| 73| 86|157|193|
|170| 46|157| 98|198|
+---+---+---+---+---+
only showing top 20 rows

root
 |-- A: long (nullable = true)
 |-- B: long (nullable = true)
 |-- C: long (nullable = true)
 |-- D: long (nullable = true)
 |-- E: long (nullable = true)

In [34]:
data = [[295, "South Bend", "Indiana",  101190, 112.9]]
columns = ["rank", "city", "state",  "population", "price"]

df1 = spark.createDataFrame(data, schema="rank LONG, city STRING, state STRING,  population LONG, price DOUBLE")
display(df1)
df1.show()

DataFrame[rank: bigint, city: string, state: string, population: bigint, price: double]

+----+----------+-------+----------+-----+
|rank|      city|  state|population|price|
+----+----------+-------+----------+-----+
| 295|South Bend|Indiana|    101190|112.9|
+----+----------+-------+----------+-----+

In [35]:
Totpartition=df.rdd.getNumPartitions()
print(Totpartition)
newpartitiondf = df.repartition(4)

print(newpartitiondf.rdd.getNumPartitions())

# Repatition by column name into 4 partitions, check the df1 it has a column name city we want it to be in four paritition
df4 = df1.repartition(4, "city")
print(df4.rdd.getNumPartitions())
# Repatition by multiple columns
#df5 = df4.repartition("ColumnName1","ColumnName2")

2
4
4

In [36]:
Totpartition=df.rdd.getNumPartitions()
print(Totpartition)
newpartitiondf = df.repartition(4)

print(newpartitiondf.rdd.getNumPartitions())

# Repatition by column name into 4 partitions, check the df1 it has a column name city we want it to be in four paritition
df4 = df1.repartition(4, "city")
print(df4.rdd.getNumPartitions())
# Repatition by multiple columns
#df5 = df4.repartition("ColumnName1","ColumnName2")

2
4
4

In [42]:
myfile="/content/PlayerDataset.csv"
df_fifa = spark.read.format("csv").load(myfile, inferSchema=True, header=True)

In [43]:
# show table
df_fifa.show(truncate = True)

# show schema
df_fifa.printSchema()

+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------------+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|_c0|             Name|Age|               Photo|Nationality|                Flag|Overall|Potential|               Club|           Club Logo|Player_Value|Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free_kick accuracy|GK_diving|GK_handling|GK_kicking|GK_positioning|GK_reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding_tackle|Sprint_speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred_Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------------+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  0|Cristiano Ronaldo| 32|https://cdn.sofif...|   Portugal|https://cdn.sofif...|     94|       94|     Real Madrid CF|https://cdn.sofif...|        95.5|565K|   2228|          89|        63|     89|     63|          93|       95|      85|   81|       91|       94|                76|        7|         11|        15|            14|         11|              88|           29|     95|          77|        92|     22|       85|         95|       96|           83|        94|            23|          91|     92|             31|      80|    85|     88|  89|  53|  62|  91|  82| 20801|  89|  61|  53|  82|  62|  91|  89|  92|  91|  66|             ST LW |  89|  61|  53|  82|  62|  91|  89|  92|  91|  66|  92|
|  1|         L. Messi| 30|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     93|       93|       FC Barcelona|https://cdn.sofif...|         105|565K|   2154|          92|        48|     90|     95|          95|       96|      77|   89|       97|       95|                90|        6|         11|        15|            14|          8|              71|           22|     68|          87|        88|     13|       74|         93|       95|           88|        85|            26|          87|     73|             28|      59|    90|     85|  92|  45|  59|  92|  84|158023|  92|  57|  45|  84|  59|  92|  90|  88|  91|  62|                RW |  92|  57|  45|  84|  59|  92|  90|  88|  91|  62|  88|
|  2|           Neymar| 25|https://cdn.sofif...|     Brazil|https://cdn.sofif...|     92|       94|Paris Saint-Germain|https://cdn.sofif...|         123|280K|   2100|          94|        56|     96|     82|          95|       92|      75|   81|       96|       89|                84|        9|          9|        15|            15|         11|              62|           36|     61|          75|        77|     21|       81|         90|       88|           81|        80|            33|          90|     78|             24|      53|    80|     83|  88|  46|  59|  88|  79|190871|  88|  59|  46|  79|  59|  88|  87|  84|  89|  64|                LW |  88|  59|  46|  79|  59|  88|  87|  84|  89|  64|  84|
|  3|        L. Suárez| 30|https://cdn.sofif...|    Uruguay|https://cdn.sofif...|     92|       92|       FC Barcelona|https://cdn.sofif...|          97|510K|   2291|          88|        78|     86|     60|          91|       83|      77|   86|       86|       94|                84|       27|         25|        31|            33|         37|              77|           41|     69|          64|        86|     30|       85|         92|       93|           83|        87|            38|          77|     89|             45|      80|    84|     88|  87|  58|  65|  88|  80|176580|  87|  64|  58|  80|  65|  88|  85|  88|  87|  68|                ST |  87|  64|  58|  80|  65|  88|  85|  88|  87|  68|  88|
|  4|         M. Neuer| 31|https://cdn.sofif...|    Germany|https://cdn.sofif...|     92|       92|   FC Bayern Munich|https://cdn.sofif...|          61|230K|   1493|          58|        29|     52|     35|          48|       70|      15|   14|       30|       13|                11|       91|         90|        95|            91|         89|              25|           30|     78|          59|        16|     10|       47|         12|       85|           55|        25|            11|          61|     44|             10|      83|    70|     11|NULL|NULL|NULL|NULL|NULL|167495|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  5|   R. Lewandowski| 28|https://cdn.sofif...|     Poland|https://cdn.sofif...|     91|       91|   FC Bayern Munich|https://cdn.sofif...|          92|355K|   2143|          79|        80|     78|     80|          89|       87|      62|   77|       85|       91|                84|       15|          6|        12|             8|         10|              85|           39|     84|          65|        83|     25|       81|         91|       91|           83|        88|            19|          83|     79|             42|      84|    78|     87|  84|  57|  62|  87|  78|188545|  84|  58|  57|  78|  62|  87|  82|  88|  84|  61|                ST |  84|  58|  57|  78|  62|  87|  82|  88|  84|  61|  88|
|  6|           De Gea| 26|https://cdn.sofif...|      Spain|https://cdn.sofif...|     90|       92|  Manchester United|https://cdn.sofif...|        64.5|215K|   1458|          57|        38|     60|     43|          42|       64|      17|   21|       18|       13|                19|       90|         85|        87|            86|         90|              21|           30|     67|          51|        12|     13|       40|         12|       88|           50|        31|            13|          58|     40|             21|      64|    68|     13|NULL|NULL|NULL|NULL|NULL|193080|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  7|        E. Hazard| 26|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     90|       91|            Chelsea|https://cdn.sofif...|        90.5|295K|   2096|          93|        54|     93|     91|          92|       87|      80|   82|       93|       83|                79|       11|         12|         6|             8|          8|              57|           41|     59|          81|        82|     25|       86|         85|       85|           86|        79|            22|          87|     79|             27|      65|    86|     79|  88|  47|  61|  87|  81|183277|  88|  59|  47|  81|  61|  87|  87|  82|  88|  64|                LW |  88|  59|  47|  81|  61|  87|  87|  82|  88|  64|  82|
|  8|         T. Kroos| 27|https://cdn.sofif...|    Germany|https://cdn.sofif...|     90|       90|     Real Madrid CF|https://cdn.sofif...|          79|340K|   2165|          60|        60|     71|     69|          89|       85|      85|   85|       79|       76|                84|       10|         11|        13|             7|         10|              54|           85|     32|          93|        90|     63|       73|         79|       86|           90|        87|            69|          52|     77|             82|      74|    88|     82|  83|  72|  82|  81|  87|182521|  83|  76|  72|  87|  82|  81|  81|  77|  80|  78|            CDM CM |  83|  76|  72|  87|  82|  81|  81|  77|  80|  78|  77|
|  9|       G. Higuaín| 29|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     90|       90|           Juventus|https://cdn.sofif...|          77|275K|   1961|          78|        50|     75|     69|          85|       86|      68|   74|       84|       91|                62|        5|         12|         7|             5|         10|              86|           20|     79|          59|        82|     12|       70|         92|       88|           75|        88|            18|          80|     72|             22|      85|    70|     88|  81|  46|  52|  84|  71|167664|  81|  51|  46|  71|  52|  84|  79|  87|  82|  55|                ST |  81|  51|  46|  71|  52|  84|  79|  87|  82|  55|  87|
| 10|     Sergio Ramos| 31|https://cdn.sofif...|      Spain|https://cdn.sofif...|     90|       90|     Real Madrid CF|https://cdn.sofif...|          52|310K|   2153|          75|        84|     79|     60|          84|       80|      66|   73|       61|       60|                67|       11|          8|         9|             7|         11|              91|           88|     93|          72|        55|     86|       68|         52|       85|           78|        79|            91|          77|     84|             89|      81|    63|     66|  70|  87|  83|  70|  74|155862|  70|  84|  87|  74|  83|  70|  71|  72|  69|  81|                CB |  70|  84|  87|  74|  83|  70|  71|  72|  69|  81|  72|
| 11|     K. De Bruyne| 26|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     89|       92|    Manchester City|https://cdn.sofif...|          83|285K|   2162|          76|        68|     80|     75|          87|       84|      90|   83|       85|       83|                83|       15|         13|         5|            10|         13|              53|           56|     65|          84|        86|     30|       77|         84|       88|           90|        85|            40|          75|     87|             51|      73|    90|     82|  86|  57|  70|  85|  84|192985|  86|  66|  57|  84|  70|  85|  85|  81|  85|  71|         RM CM CAM |  86|  66|  57|  84|  70|  85|  85|  81|  85|  71|  81|
| 12|      T. Courtois| 25|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     89|       92|            Chelsea|https://cdn.sofif...|          59|190K|   1282|          46|        23|     61|     45|          23|       52|      14|   19|       13|       14|                11|       85|         91|        69|            86|         88|              13|           15|     68|          31|        17|     11|       27|         13|       81|           32|        36|            16|          52|     38|             18|      70|    44|     12|NULL|NULL|NULL|NULL|NULL|192119|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 13|       A. Sánchez| 28|https://cdn.sofif...|      Chile|https://cdn.sofif...|     89|       89|            Arsenal|https://cdn.sofif...|        67.5|265K|   2181|          88|        80|     90|     87|          87|       86|      80|   78|       90|       85|                78|       10|         10|        15|            12|         13|              70|           42|     85|          73|        82|     30|       77|         86|       87|           81|        84|            35|          84|     85|             39|      72|    83|     83|  85|  56|  64|  85|  79|184941|  85|  62|  56|  79|  64|  85|  85|  83|  86|  66|       RM LW ST LM |  85|  62|  56|  79|  64|  85|  85|  83|  86|  66|  83|
| 14|        L. Modrić| 31|https://cdn.sofif...|    Croatia|https://cdn.sofif...|     89|       89|     Real Madrid CF|https://cdn.sofif...|          57|340K|   2228|          75|        62|     93|     94|          92|       84|      78|   79|       86|       71|                77|       13|          9|         7|            14|          9|              55|           76|     67|          83|        82|     66|       80|         79|       88|           92|        73|            73|          71|     82|             80|      58|    90|     74|  86|  72|  80|  83|  86|177003|  86|  78|  72|  86|  80|  83|  84|  76|  83|  80|            CDM CM |  86|  78|  72|  86|  80|  83|  84|  76|  83|  80|  76|
| 15|          G. Bale| 27|https://cdn.sofif...|      Wales|https://cdn.sofif...|     89|       89|     Real Madrid CF|https://cdn.sofif...|        69.5|370K|   2263|          93|        65|     77|     65|          87|       85|      87|   86|       89|       87|                85|       15|         15|        11|             5|          6|              86|           59|     85|          80|        90|     51|       76|         86|       87|           86|        91|            52|          95|     76|             55|      80|    79|     76|  86|  67|  71|  87|  81|173731|  86|  72|  67|  81|  71|  87|  87|  87|  87|  74|                RW |  86|  72|  67|  81|  71|  87|  87|  87|  87|  74|  87|
| 16|        S. Agüero| 29|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     89|       89|    Manchester City|https://cdn.sofif...|        66.5|325K|   2074|          90|        63|     86|     91|          89|       90|      70|   82|       89|       90|                72|       13|         15|         6|            11|         14|              68|           24|     80|          63|        83|     13|       83|         91|       89|           79|        88|            12|          84|     74|             20|      74|    83|     85|  85|  44|  54|  87|  75|153079|  85|  52|  44|  75|  54|  87|  84|  86|  86|  57|                ST |  85|  52|  44|  75|  54|  87|  84|  86|  86|  57|  86|
| 17|     G. Chiellini| 32|https://cdn.sofif...|      Italy|https://cdn.sofif...|     89|       89|           Juventus|https://cdn.sofif...|          38|225K|   1867|          68|        92|     59|     64|          57|       82|      58|   60|       58|       33|                31|        3|          3|         2|             4|          3|              84|           88|     89|          59|        49|     92|       50|         28|       82|           59|        78|            90|          78|     68|             92|      91|    50|     45|  55|  86|  76|  55|  60|138956|  55|  78|  86|  60|  76|  55|  58|  59|  56|  75|                CB |  55|  78|  86|  60|  76|  55|  58|  59|  56|  75|  59|
| 18|        G. Buffon| 39|https://cdn.sofif...|      Italy|https://cdn.sofif...|     89|       89|           Juventus|https://cdn.sofif...|         4.5|110K|   1335|          49|        38|     55|     49|          28|       70|      13|   20|       26|       15|                13|       89|         88|        74|            90|         84|              13|           28|     75|          35|        13|     10|       22|         12|       80|           37|        39|            11|          43|     39|             11|      69|    50|     17|NULL|NULL|NULL|NULL|NULL|  1179|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 19|        P. Dybala| 23|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     88|       93|           Juventus|https://cdn.sofif...|          79|215K|   2063|          88|        48|     91|     85|          93|       84|      80|   88|       92|       85|                84|        5|          4|         4|             5|          8|              68|           24|     75|          71|        88|     14|       86|         84|       84|           83|        82|            20|          84|     83|             20|      65|    84|     88|  86|  43|  55|  86|  78|211110|  86|  55|  43|  78|  55|  86|  86|  83|  87|  60|            ST CAM |  86|  55|  43|  78|  55|  86|  86|  83|  87|  60|  83|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------------+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Player_Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Aggression: string (nullable = true)
 |-- Agility: string (nullable = true)
 |-- Balance: string (nullable = true)
 |-- Ball control: string (nullable = true)
 |-- Composure: string (nullable = true)
 |-- Crossing: string (nullable = true)
 |-- Curve: string (nullable = true)
 |-- Dribbling: string (nullable = true)
 |-- Finishing: string (nullable = true)
 |-- Free_kick accuracy: string (nullable = true)
 |-- GK_diving: string (nullable = true)
 |-- GK_handling: string (nullable = true)
 |-- GK_kicking: string (nullable = true)
 |-- GK_positioning: string (nullable = true)
 |-- GK_reflexes: string (nullable = true)
 |-- Heading accuracy: string (nullable = true)
 |-- Interceptions: string (nullable = true)
 |-- Jumping: string (nullable = true)
 |-- Long passing: string (nullable = true)
 |-- Long shots: string (nullable = true)
 |-- Marking: string (nullable = true)
 |-- Penalties: string (nullable = true)
 |-- Positioning: string (nullable = true)
 |-- Reactions: string (nullable = true)
 |-- Short passing: string (nullable = true)
 |-- Shot power: string (nullable = true)
 |-- Sliding_tackle: string (nullable = true)
 |-- Sprint_speed: string (nullable = true)
 |-- Stamina: string (nullable = true)
 |-- Standing tackle: string (nullable = true)
 |-- Strength: string (nullable = true)
 |-- Vision: string (nullable = true)
 |-- Volleys: string (nullable = true)
 |-- CAM: integer (nullable = true)
 |-- CB: integer (nullable = true)
 |-- CDM: integer (nullable = true)
 |-- CF: integer (nullable = true)
 |-- CM: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- LAM: integer (nullable = true)
 |-- LB: integer (nullable = true)
 |-- LCB: integer (nullable = true)
 |-- LCM: integer (nullable = true)
 |-- LDM: integer (nullable = true)
 |-- LF: integer (nullable = true)
 |-- LM: integer (nullable = true)
 |-- LS: integer (nullable = true)
 |-- LW: integer (nullable = true)
 |-- LWB: integer (nullable = true)
 |-- Preferred_Positions: string (nullable = true)
 |-- RAM: integer (nullable = true)
 |-- RB: integer (nullable = true)
 |-- RCB: integer (nullable = true)
 |-- RCM: integer (nullable = true)
 |-- RDM: integer (nullable = true)
 |-- RF: integer (nullable = true)
 |-- RM: integer (nullable = true)
 |-- RS: integer (nullable = true)
 |-- RW: integer (nullable = true)
 |-- RWB: integer (nullable = true)
 |-- ST: integer (nullable = true)

In [44]:
print(df_fifa.count())
print(len(df_fifa.columns))

17981
75

In [45]:
# Count rows using rdd attribute
row_count = df_fifa.rdd.count()

print(f'The DataFrame has {row_count} rows.')

The DataFrame has 17981 rows.

In [46]:
# Change the number of partitions
df_fifa = df_fifa.repartition(4)
df_fifa.rdd.getNumPartitions()

4

In [47]:
# showing Age more than  20
subset_Age = df_fifa.filter(df_fifa["Age"] > 30)
subset_Age.show(10)

+-----+-----------+---+--------------------+-------------+--------------------+-------+---------+------------------+--------------------+------------+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  _c0|       Name|Age|               Photo|  Nationality|                Flag|Overall|Potential|              Club|           Club Logo|Player_Value|Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free_kick accuracy|GK_diving|GK_handling|GK_kicking|GK_positioning|GK_reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding_tackle|Sprint_speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred_Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+-----+-----------+---+--------------------+-------------+--------------------+-------+---------+------------------+--------------------+------------+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
| 2811|A. Isaksson| 35|https://cdn.sofif...|       Sweden|https://cdn.sofif...|     73|       73|    Djurgårdens IF|https://cdn.sofif...|        950K|  4K|   1099|          36|        32|     28|     21|          15|       67|      11|   12|       11|       19|                20|       74|         68|        63|            71|         76|              12|           19|     62|          30|        12|     17|       25|         13|       70|           38|        23|            20|          42|     31|             19|      70|    22|     17|NULL|NULL|NULL|NULL|NULL| 20551|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|   45|    Iniesta| 33|https://cdn.sofif...|        Spain|https://cdn.sofif...|     87|       87|      FC Barcelona|https://cdn.sofif...|        29.5|260K|   2073|          72|        58|     79|     84|          94|       89|      77|   80|       90|       70|                70|        6|         13|         6|            13|          7|              54|           66|     52|          86|        71|     57|       71|         84|       88|           92|        65|            56|          71|     58|             57|      58|    94|     74|  87|  63|  74|  83|  84|    41|  87|  69|  63|  84|  74|  83|  84|  76|  84|  72|             LM CM |  87|  69|  63|  84|  74|  83|  84|  76|  84|  72|  76|
|  670|     Jurado| 31|https://cdn.sofif...|        Spain|https://cdn.sofif...|     79|       79|      RCD Espanyol|https://cdn.sofif...|          11| 37K|   1896|          72|        46|     80|     72|          81|       68|      80|   80|       83|       77|                78|       11|         15|         7|             6|         13|              47|           40|     62|          79|        75|     19|       66|         79|       81|           82|        76|            27|          69|     62|             26|      56|    80|     69|  80|  43|  56|  78|  75|159171|  80|  53|  43|  75|  56|  78|  78|  74|  79|  58|      CM CAM RM LM |  80|  53|  43|  75|  56|  78|  78|  74|  79|  58|  74|
|12147|J. Sandoval| 31|https://cdn.sofif...|      Uruguay|https://cdn.sofif...|     63|       63|Argentinos Juniors|https://cdn.sofif...|        240K|  2K|   1630|          70|        61|     69|     71|          51|       51|      51|   37|       61|       49|                44|       13|          8|        13|            10|          9|              57|           54|     64|          41|        40|     66|       46|         52|       61|           49|        54|            68|          74|     71|             66|      66|    45|     39|  53|  62|  57|  54|  52|240689|  53|  62|  62|  52|  57|  54|  56|  55|  55|  61|                RB |  53|  62|  62|  52|  57|  54|  56|  55|  55|  61|  55|
| 1276|     G. Lux| 35|https://cdn.sofif...|    Argentina|https://cdn.sofif...|     76|       76|       River Plate|https://cdn.sofif...|         1.8| 12K|   1169|          29|        45|     56|     55|          35|       43|      12|   13|       11|       13|                12|       74|         71|        78|            76|         79|              13|           17|     68|          29|        11|     15|       12|         11|       75|           12|        12|            14|          32|     43|             13|      72|    49|     12|NULL|NULL|NULL|NULL|NULL|138798|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 8213| J. Bréchet| 37|https://cdn.sofif...|       France|https://cdn.sofif...|     67|       67|       GFC Ajaccio|https://cdn.sofif...|        100K|  3K|   1574|          28|        67|     25|     47|          57|       62|      62|   59|       27|       37|                60|        7|         10|         8|            16|         13|              69|           64|     66|          62|        54|     67|       59|         43|       51|           65|        59|            65|          28|     55|             68|      76|    54|     46|  48|  66|  63|  46|  55|  4732|  48|  58|  66|  55|  63|  46|  47|  49|  45|  57|                CB |  48|  58|  66|  55|  63|  46|  47|  49|  45|  57|  49|
| 2690| R. Pasveer| 33|https://cdn.sofif...|  Netherlands|https://cdn.sofif...|     73|       73|           Vitesse|https://cdn.sofif...|           2|  9K|   1143|          46|        29|     57|     36|          30|       65|      11|   15|       11|       12|                13|       72|         75|        60|            75|         70|              13|           13|     65|          11|        16|     13|       28|         15|       68|           30|        26|            12|          40|     32|             13|      71|    49|     16|NULL|NULL|NULL|NULL|NULL|162328|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 3919| N. Rimando| 38|https://cdn.sofif...|United States|https://cdn.sofif...|     72|       72|    Real Salt Lake|https://cdn.sofif...|        210K|  3K|   1242|          45|        31|     52|     55|          37|       50|      24|   20|       16|       17|                24|       71|         70|        70|            70|         75|              13|           11|     64|          39|        15|     12|       35|         17|       65|           39|        25|            13|          46|     31|             12|      60|    56|     12|NULL|NULL|NULL|NULL|NULL| 16097|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK_|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 3128|  E. Madrez| 33|https://cdn.sofif...|        Chile|https://cdn.sofif...|     73|       73|    Unión Española|https://cdn.sofif...|         1.6|  6K|   1707|          63|        77|     48|     55|          50|       67|      51|   54|       44|       33|                42|       12|          7|        12|             9|         10|              74|           67|     72|          74|        45|     69|       71|         40|       62|           66|        72|            76|          66|     46|             77|      81|    42|     40|  51|  72|  66|  51|  56|159933|  51|  65|  72|  56|  66|  51|  52|  54|  50|  62|             LB CB |  51|  65|  72|  56|  66|  51|  52|  54|  50|  62|  54|
|10455|  G. Liddle| 31|https://cdn.sofif...|      England|https://cdn.sofif...|     65|       65|   Carlisle United|https://cdn.sofif...|        375K|  4K|   1684|          50|        75|     67|     58|          64|       65|      49|   47|       47|       41|                32|       13|         15|        33|            15|         13|              63|           65|     74|          63|        43|     60|       46|         45|       65|           64|        56|            63|          51|     66|             64|      75|    53|     49|  55|  65|  64|  53|  59|169619|  55|  61|  65|  59|  64|  53|  55|  54|  53|  60|      CB RB CM CDM |  55|  61|  65|  59|  64|  53|  55|  54|  53|  60|  54|
+-----+-----------+---+--------------------+-------------+--------------------+-------+---------+------------------+--------------------+------------+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [48]:
df_fifa.select("Name","Club").distinct().show(100)

+-----------------+--------------------+
|             Name|                Club|
+-----------------+--------------------+
|      A. Di María| Paris Saint-Germain|
|      N. Füllkrug|         Hannover 96|
|  Simão Donatinho|Clube Atlético Pa...|
|      J. Eiswohld|           IK Sirius|
|          Rafinha|        FC Barcelona|
|      I. González|           Club León|
|        H. Osorio|Independiente San...|
|         O. Şahan|         Trabzonspor|
|         D. Frick|         FSV Zwickau|
|         R. Costa|           Temperley|
|      K. Savichev|FC SKA-Energiya K...|
|        T. Thomas|      Wigan Athletic|
|   Back Jong Hwan|          Gangwon FC|
|       A. Ordóñez| Eintracht Frankfurt|
|         L. Nolan|  Accrington Stanley|
|       J. Cortizo|           Querétaro|
|             Dudu|      Kashiwa Reysol|
|     L. Chiaretti|          Cittadella|
|        B. Foster|West Bromwich Albion|
|       S. Ulreich|    FC Bayern Munich|
|Cristian Ceballos|   Sint-Truidense VV|
|       Lee Kyu Ro|            FC Seoul|
|        J. Galván|   Colon de Santa Fe|
|             Eder|               Inter|
|         O. Trejo|      Rayo Vallecano|
|       J. Spector|Orlando City Socc...|
|    M. van Bergen|             Vitesse|
|        B. Sanneh|          AC Horsens|
|         M. Bravo|Tiburones Rojos d...|
|   J. Butterfield| Sheffield Wednesday|
|           S. Cox|     Southend United|
|        J. Mojica|           Girona CF|
|           Tienza| Real Betis Balompié|
|      V. Janjičić|        Hamburger SV|
|      S. Saunders|   Wycombe Wanderers|
|      M. Vitzthum|SG Sonnenhof Groß...|
|      H. Harbaoui|      RSC Anderlecht|
|        S. Altama|La Berrichonne de...|
|     P. Grazziani|   Alianza Petrolera|
|           C. Day|           Stevenage|
|         D. Leahy|       Coventry City|
|         A. Byrne|         Exeter City|
|        S. Wimmer|     SC Paderborn 07|
|        A. Agouda|     Strømsgodset IF|
|     D. Matsuzaka|     Southend United|
|        I. Angulo|         Envigado FC|
|       F. Quignon|San Lorenzo de Al...|
|         M. Duffy|             Dundalk|
|       W. Johnson|Orlando City Socc...|
|        S. Grippo|       Real Zaragoza|
|         N. Leali|    SV Zulte-Waregem|
|      L. Desábato|     Vélez Sarsfield|
|        M. Cornet|  Olympique Lyonnais|
|  Mauriçio Clerez|Associação Chapec...|
|       Orlando Sá|   Standard de Liège|
|       N. Bertolo|            Banfield|
|         D. Dueña|CD Universidad de...|
|      P. Hoffmann|  SC Preußen Münster|
|  M. Pérez García| Club Atlético Tigre|
|    M. Harrington|Chicago Fire Socc...|
|      D. Sołdecki|         Arka Gdynia|
|         A. Milić|         KV Oostende|
|     Narcisso Mau|            Vitória |
|        Y. Thuram|         Le Havre AC|
|       C. Bolaños|Vancouver Whiteca...|
|    L. Di Lorenzo|           Temperley|
|          J. Leca|          AC Ajaccio|
|       E. Sánchez|             Pachuca|
|        W. O'Hora|         Bohemian FC|
|        C. Clough|              Barnet|
|       R. Guitane|         Le Havre AC|
|           F. Due|          Randers FC|
|     J. Henriksen|        FC Helsingør|
|       O. Holness|      Real Salt Lake|
|      C. Kahraman|  1. FC Union Berlin|
|     Rafael Costa|       Moreirense FC|
|        F. Acerbi|            Sassuolo|
|         M. Sauer|Eintracht Braunsc...|
|     F. Santander|        FC København|
|       C. Maloney|    Columbus Crew SC|
|      G. Maniatis|          Alanyaspor|
|    Erick Gameira|Grêmio Foot-Ball ...|
|      Fábio China|         CS Marítimo|
|       M. Fouzair|            Al Nassr|
|      B. Urbański|           Willem II|
|         G. Denis| Club Atlético Lanús|
|       L. Payares|     Deportivo Pasto|
|      E. Bičakčić| TSG 1899 Hoffenheim|
|      A. Fletcher|       Middlesbrough|
|      O. Toivonen|         Toulouse FC|
|        E. Kangwa|        Arsenal Tula|
|       J. Glesnes|     Strømsgodset IF|
|          G. Baah|  New York Red Bulls|
|    Borja Herrera|       UD Las Palmas|
|       M. Piossek|  Sportfreunde Lotte|
|     Hugo Álvarez|         AD Alcorcón|
|   Jorgino Baumer|  Avaí Futebol Clube|
|        I. Konaté|          RB Leipzig|
|       S. Asamoah|   Sint-Truidense VV|
|       H. Cornick|          Luton Town|
+-----------------+--------------------+
only showing top 100 rows